# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# eagle tmp files
*.b#?
*.s#?



# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vs
__vm
*.o
Debug
*.bin
*.elf
*.spiffs
/eagle/6switch/6switch_03.pro
/eagle/6switch/6switch_03.job
/eagle/6switch/6switch_02.pro
/eagle/6switch/6switch_02.job
/eagle/6switch/6switch_01.pro
/eagle/6switch/6switch_01.job
/eagle/6switch/6switch_00.pro
/eagle/6switch/6switch_00.job
/eagle/6switch/6switch.TXT
/data/web.config
/tools
/Release
/eagle/6switch
/MQTT
.build
*.img

/data.vue/vue.js