BODY {
    font-family: Arial;
    font-size: small;
    background-color: #d3d3d3
}

.verticalContainer {
    display: flex;
    flex-direction: column
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.untested {
    background-color: indianred;
}

ul.main {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #00008b;
}

ul.main li {
    display: inline;
    color: #ffffff;
    cursor: pointer;
}

ul.main li.activeTab {
    font-weight: bold;
    background-color: #4b4bdf;
    cursor: default;
}

ul.main li a {
    text-decoration: none;
    color: #fff;
    background-color: #00008b
}

ul.main li a:hover {
    color: #fff;
    background-color: #369
}

ul.main li+li:before {
    content: "| "
}

.heading {
    background-color: rgb(19, 71, 19);
    color: #fff;
    text-align: right;
    font-weight: 700
}

iframe.main {
    width: 100%;
    height: 100%
}

button {
    background-color: green;
    border: none;
    color: #fff;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer
}

img {
    border: 1px solid #555;
}

button:disabled {
    background-color: green;
    border: none;
    color: gray;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer
}

.button_red {
    background-color: red
}

#header {
    width: 100%;
    height: 50px
}

#statusbar {
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 500;
    width: 50%;
    background-color: #fff
}

.horizontalContainerRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.horizontalContainerWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.horizontalContainerMid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vh;
}

.horizontalContainerleft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.verticalContainerFull {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: space-between
}